.devika{
    margin-top: 150px;
    margin-left: 150px;
}
.overall{
    display: flex;
}
.about-me{
    margin-top: 110px;
    margin-left: 240px;
    font-size:24px;
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.about-name{
    color:white;
    margin-left: 240px;
    margin-top: 50px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.about-line{
    margin-left: 240px;
    margin-top: 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
.button{
    margin-left: 500px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
}
.devika{
    margin-top: 95px;
}



