ul{
    display: flex;
    justify-content:end;
    gap: 80px;
    margin-left: 400px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
li{
  margin-top: 20px;  
}
.logo{
  display: flex;
  justify-content:first baseline;
  margin-top: 20px;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color:white;
}
.all{
  display: flex; 
}
a:-webkit-any-link {
    color: white;
    text-decoration: none;
}
a:-webkit-any-link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.icon{
  font-size: 18px;
  position: relative;
  top: 2 px;
}